---
import TopicList from '../components/TopicList.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { getUrl } from '../utils';
import ProjectList from '../components/ProjectList.astro';

const projects = await getCollection('projects');
---

<Layout>
	<h1 class="text-4xl sm:text-6xl my-12 sm:my-20 font-semibold">Dobro<span class="text-primary-600">mapa</span></h1>
	<p class="text-lg/8 sm:text-xl/10">
		Česká společnost má spoustu problémů. Vnímáme to a nejsme k tomu lhostejní. Často nám ale chybí naděje, že se to může změnit.
		Jedním z důvodů je, že nevidíme, co všechno se kolem nás už děje.
	</p>
	<p class="mt-16 text-xl/10 sm:text-3xl/15 not-italic">Vytváříme <span class="text-primary-600 font-semibold">mapu projektů</span>, které nás posouvají dopředu. Je <span class="text-primary-600 font-semibold">pestřejší</span>, než si myslíme.</p>
	<h2 class="text-2xl sm:text-4xl mt-18 sm:mt-24 mb-12 font-semibold">Naše témata</h2>
	<TopicList />
	<h2 class="text-2xl sm:text-4xl mt-18 sm:mt-24 mb-12 font-semibold">Všechny projekty</h2>
	<div class="">
		<ProjectList projects={projects} />
	</div>
</Layout>
