---
import { Image } from 'astro:assets';
import { getUrl } from '../utils';
import type { CollectionEntry } from 'astro:content';

interface Props {
    projects: CollectionEntry<'projects'>[],
    class?: string,
}

const { 
    projects,
    class: cssClass,
} = Astro.props;

---
{projects.length > 0 && <div class={`grid gap-8 sm:gap-4 ${cssClass ?? ''}`}>
    {projects.map(project => (
        <a href={getUrl(`/projects/${project.id}`)} class="grid sm:grid-cols-4 sm:gap-x-8 items-center">
        <span class="mx-auto sm:mx-0">
            {project.data.image
                ? <Image src={project.data.image} alt={project.data.name} class="h-16 w-32 object-contain"/>
                : project.data.name}
        </span>
        <span class="sm:col-span-3">
            {project.data.perex}
        </span>
        </a>
    ))}
</div>}
